{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/todo_list.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
        <h1>{{ request.user.username }}의 Todo List</h1>
        <div class="btn-container">
            <a href="{% url 'todo:create' %}" class="btn-create">작성</a>
        </div>
        <ul class="todo-list">
            {% for todo in object_list %}
            <li class="todo-item">
                <a href="{% url 'todo:info' todo.id %}">
                    {% if todo.get_thumbnail_image_url %}
                        <img src="{{ todo.get_thumbnail_image_url }}" alt="{{ todo.title }}" class="image">
                    {% endif %}
                    <div class="todo-content">
                        {{ todo.title }}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>회원가입 또는 로그인을 진행해주세요.</h1>
    {% endif %}
</div >
    <form method="get" class="search">
        <input name = 'q' type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button>검색</button>
    </form>
    {% include 'pagination.html' %}
{% endblock %}